/data
/preprocessed_epochs
/connectivity
/figures
/figures
*.pyc
src/signals_test3_19ch_ground_truth.png
src/signals_test3_19ch_visualization.png
/src/validation_results_19ch
/connectivity_updated
/connectivity_updated_figures
/results
/test
/test1
/bias_analysis
/gcn_results
/gnn
/src/test_outputs/heatmaps
/ssl_results
/ssl_pretrained
/gcn_results_v2
/gnn_filtered
/ssl_pretrained_v2
/ssl_results_v2
/final_connectivity
/final_preprocessed_epochs
*.png
